$primary: #3153d8;
ul.reset {
    padding-left: 0;
    margin: 0;
    &.h-list {
        li {
            display: inline-block;
        }
    }
    li {
        list-style: none;

        ul {
            padding-left: 0;
        }
    }
}
img {
    max-width: 100%;
}
.container {
    margin: auto;
    max-width: 1200px;
    @media (max-width: 767px) {
        width: 90%;
    }
    @media (min-width: 768px) {
        width: 95%;
    }
}

// HEADER

header.hdr {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
    background-color: #fff;
    .right {
    }
    .logo {
        position: relative;
        color: inherit;
        display: inline-block;
        span {
            font-weight: bold;
        }
    }

    .main-menu {
        border-bottom: 0;
        background-color: transparent;
        > .ant-menu-item,
        .ant-menu-submenu {
            border-bottom: 0;
            margin-top: 0;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0px;
                height: 2px;
                width: 0%;
                left: 0;
                background-color: $primary;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
        a {
            &[aria-current='page'] {
                color: $primary;
            }

            &:hover {
                &:after {
                    opacity: 1;
                    bottom: 0;
                }
            }
        }
        .ant-menu-submenu-title {
            span {
                transform: scale(2.5);
                position: relative;
                display: block;
            }
        }
    }
    .search-area-nav {
        &:after {
            opacity: 0;
        }
    }
    @media (max-width: 767px) {
        .container {
            width: 100%;
        }
        .logo {
            padding-left: 15px;
            span {
                font-size: 1rem;
                display: block;
                padding-top: 6px;
            }
        }
    }
    @media (min-width: 768px) {
        .logo {
            top: -3px;
        }
    }

    @media (max-width: 1023px) {
        .main-menu {
            .ant-menu-item {
            }
        }
    }

    @media (min-width: 1024px) {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo {
            span {
                font-size: 1.5rem;
            }
        }
    }
    @media (max-width: 1329px) and (min-width: 1024px) {
        .right {
            text-align: right;
            padding-top: 5px;
        }
    }
    @media (min-width: 1330px) {
        .right {
            display: flex;
            align-items: center;
            .search-area {
                order: 2;
            }
        }
    }
}

.search-area {
    position: relative;

    .anticon-search {
        position: absolute;
        left: 5px;
        top: 7px;
    }
    .qs {
        display: none;
    }
    input {
        border: solid 1px #ccc;
        border-radius: 4px;
        padding-left: 23px;
        height: 30px;
        width: 100%;
    }
    .navbar-dropdown {
        position: absolute;
        right: 0;
        top: auto;
        width: 300px;
        background-color: #fff;
        border-radius: 12px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 150;
        a {
            display: block;
            padding: 10px;
            line-height: normal;
            &:hover {
                color: #000;
            }
        }
    }
    &.is-active {
        .navbar-dropdown {
            opacity: 1;
            visibility: visible;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
            padding: 15px;
        }
    }
    @media (max-width: 767px) {
        max-width: 120px;
    }
    @media (max-width: 1023px) {
        position: absolute;
        right: 15px;
        top: 6px;
    }
    @media (min-width: 1024px) {
        display: inline-block;
    }
    @media (max-width: 1329px) and (min-width: 1024px) {
    }
}

.breadcrumb-wrap {
    padding: 6px 0;
    background-color: rgba(238, 238, 238, 0.5);
}

// HOME PAGE
// SLIDER AREA

.full-width-slider {
    .slick-arrow {
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        z-index: 150;
        color: #fff;
        &:before {
            font-size: 20px;
            padding-left: 1px;
            padding-top: 8px;
            height: 100%;
            display: block;
        }
        &.slick-prev {
            left: 20px;
        }
        &.slick-next {
            right: 20px;
        }
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }

    .slide-img {
        width: 100%;
        object-fit: cover;
    }

    .slick-slide {
        &.slick-active {
        }
        &.slick-current {
            .caption {
                h2,
                p,
                .ant-btn {
                    opacity: 1;
                }
                h2,
                p,
                .ant-btn {
                    transform: translateX(0%);
                }
            }
        }
    }

    .caption {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;

        text-shadow: 0 0 8px rgba(0, 0, 0, 0.44);
        text-align: center;
        z-index: 15;

        h2,
        p,
        .ant-btn {
            transition: all 0.5s ease-in-out;
            opacity: 0;
        }
        h2,
        p {
            width: 80%;
            margin: auto;
            color: #fff;
        }
        h2 {
            transform: translateX(-10%);
        }
        p {
            transform: translateX(10%);
            margin-bottom: 15px;
        }
        .ant-btn {
            transform: translateY(50%);
        }
    }

    @media (max-width: 767px) {
        .slide-img {
            height: 220px;
        }
    }
    @media (min-width: 768px) {
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 1rem;
        }
    }
    @media (max-width: 1023px) and (min-width: 768px) {
        .slide-img {
            height: 300px;
        }
    }
    @media (max-width: 1329px) and (min-width: 1024px) {
        .slide-img {
            height: 350px;
        }
    }
    @media (max-width: 1659px) and (min-width: 1330px) {
        .slide-img {
            height: 400px;
        }
    }
    @media (min-width: 1660px) {
        .slide-img {
            height: 450px;
        }
    }
}

// HERO
.hero {
    padding: 50px 0;
}

// offerings
.offerings {
    padding-top: 20px;
    .ant-card {
        margin-bottom: 30px;
    }
    .thumb {
        display: block;
        margin: auto auto 20px auto;
    }
    @media (min-width: 768px) {
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: stretch;
        }
        .ant-card {
            width: 32%;
            &:not(:nth-child(3n + 3)) {
                margin-right: 2%;
            }
        }
    }
}

// reviews
.reviews {
    text-align: center;
    padding: 50px 0;
    h2 {
    }
    blockquote {
        max-width: 800px;
    }
    cite {
        display: block;
        padding-top: 12px;
    }
    @media (min-width: 768px) {
        blockquote {
            font-size: 18px;
        }
        cite {
            font-size: 1rem;
        }
    }
}
.reviews-slider {
    .slick-dots {
        position: relative;
        padding-top: 12px;
        li {
            width: auto;
            height: auto;
            button {
                width: 15px;
                height: 15px;
                background-color: #000;
                border-radius: 50%;
                bottom: 0;
                margin: 3px;
            }
            &.slick-active {
                width: auto;
                button {
                    background-color: $primary;
                }
            }
        }
    }
}

.content-area {
    padding: 30px 0;
}

.featured-image {
    position: relative;
    display: flex;
    align-items: center;

    .bg {
        height: 100%;

        width: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
    .caption {
        position: relative;
        color: #fff;
        z-index: 12;
        width: 100%;
        h1 {
            color: inherit;
        }
    }
    @media (max-width: 767px) {
        height: 150px;
    }
    @media (min-width: 768px) {
        height: 300px;
    }
}

// BACK TO TOP
.ant-back-top {
    .ant-back-top-content {
        background-color: $primary;
    }
    @media (min-width: 1024px) {
        right: 50px;
    }
}

// FOOTER
footer.ftr {
    background-color: #2c487b;
    padding: 40px 0;
    color: #fff;
    p {
        margin: 0;
    }
}

// INNER PAGES
.general-title {
}
.inner-pages {
    padding: 28px 0 58px 0;
}

.with-sidebar {
    aside {
        .widget {
            margin-bottom: 30px;
        }
        .box {
            border: 1px solid #eaecee;
            padding: 2em;
        }
    }
    @media (min-width: 1024px) {
        .container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }

        .left-area {
            width: 70%;
        }
        aside {
            width: 28%;
        }
    }
}

// BLOG
.posts,
.posts-detail {
    margin-bottom: 50px;
    article {
        margin-bottom: 30px;
    }
    @media (max-width: 1023px) {
        .left-area {
            margin-bottom: 50px;
        }
    }
}

.posts {
    padding-top: 30px;
    article {
        .image {
            img {
                width: 100%;
                display: block;
                border-radius: 12px;
            }
        }
    }
    @media (max-width: 767px) {
        .description {
            order: 2;
        }
        .image {
            margin-bottom: 30px;
        }
    }

    @media (min-width: 768px) {
        .description {
            flex: 1 1 0%;
        }
        article {
            .image {
                margin-left: 20px;
                img {
                    max-width: 204px;
                }
            }
        }
    }
}

.pagination {
    padding: 0px 0 20px 0;
}

// BLOG DETAIL
.posts-detail {
    padding-top: 18px;

    article {
        border: 1px solid #eaecee;
    }
    @media (min-width: 768px) {
        article {
            padding: 2em;
        }
    }

    .title {
        margin-bottom: 0;
    }
    .date {
        display: block;
        margin-bottom: 30px;
    }
    .featured-img {
        margin-bottom: 30px;
        img {
            max-width: 100%;
        }
    }
    @media (min-width: 768px) {
        .title {
            font-size: 30px;
        }
    }
}

.social-links {
    border-bottom: 1px solid #eaecee;
    padding-bottom: 30px;
    button {
        outline: darkgrey;
        margin-right: 12px;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

// Contact page
.contact-page {
    @media (max-width: 767px) {
        .ant-page-header-heading-left,
        .ant-page-header-heading-title {
            display: block;
        }
    }
}
.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}
.contact-form {
    padding-top: 30px;
    .field {
        margin-bottom: 15px;
    }
}
.form-group {
    display: flex;
    > div {
        margin-right: 12px;
    }
}

// TAGS
.ant-badge-count {
    background-color: $primary;
}

// PRICING PAGE

.pricing {
    .boxes {
        padding-top: 20px;
        .ant-card-head-title {
            text-align: center;
        }
        .ant-card {
            margin-bottom: 30px;
        }
        .price {
            text-align: center;
        }
    }
    @media (min-width: 1024px) {
        .boxes {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: stretch;
            .ant-card {
                width: 32%;
                margin-right: 2%;
                &:nth-child(3n + 3) {
                    margin-right: 0;
                }
            }
        }
    }
}
